<h2>Edit Menu Item</h2>

<%= form_with model: @menu, method: :put, local: true do |menu_form|%>
    <%= render 'form_template', menu_form: menu_form%>

    <br>
    <%= menu_form.submit "Update Menu Item" %>
<% end %>
<br>
<%= link_to "Back", get_previous_path %>