
<div>
<h1>Menus</h1>
    <tbody>
        <tr>
        <%= @menus.each do |m|%>
            <td> <%= link_to "#{m.meal_of_day}", menu_path(m.id)%> </td> 
        </tr>
         <%end%>
    </tbody>
</div>