
<div>
<h1 class="header">Menus</h1>
<body class="body">
<h4 class="center">Meal of Day: </h4>
<%#debugger%> 
<table>
    <tbody>
    <div class = "meal_container">
        <% @menus.each do |m|%>
            <%= link_to "#{m.meal_of_day}", menu_path(m.id), :class => "btn_sign"%>
         <%end%>
    </div>
    </tbody>
</table>
<% if user_signed_in? && current_user.admin %>
    <%= link_to "Create New Menu", new_menu_path %>
<% end %>
<br>
<%= link_to "Back", dininghalls_path %> <%# this will need to be linked to menu index page%>
</body>
</div>