
<div>
<h1>Menus</h1>
<body class="body">
<table  class='table'>
    <thead> 
        <tr>
            <th> Meal of Day </th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <% @menus.each do |m|%>
            <td> <%= link_to "#{m.meal_of_day}", menu_path(m.id)%> </td> 
        </tr>
         <%end%>
    </tbody>
</table>
<%= link_to "Create New Menu", new_menu_path %>
<br>
<%= link_to "Back", dininghalls_path %> <%# this will need to be linked to menu index page%>
</body>
</div>