<div>
<h1>Menus</h1>
    <tbody>
        <tr>
        <%= @menus.each do |m|%>
            <td> <%= link_to "#{m.name}", menu_items_path(m.id)%> </td>
        </tr>
         <%end%>
    </tbody>
</div>