<h1 class="header">New Menu </h1>
<%# must set up associations %>
<%# Must be able to add to a menu 
 Maybe a select box that lets you choose dining hall and meal(s) %>
 <%# check box handled in the new method %>
<%= form_with model: @menu, local: true do |menu_form| %>
<br> 

    <%= render 'form_template', menu_form: menu_form%>
    <br>
    <%= menu_form.submit "Create Menu"%>
<% end %>
<br>
<%= link_to "Back", menu_items_path, :class=>"back"%>
<%# need to change to menus_path somehow %>