<h1>New Menu </h1>

<%= form_with model: @menu, local: true do |menu_form| %>
<br> 

    <%= render 'form_template', menu_form: menu_form%>
    <br>
    <%# menu_form.hidden_field_tag "dininghall_id", session[:dininghall_id] %>
    <%= menu_form.submit "Create Menu"%>
<% end %>
<br>
<%# link_to "Back", dininghall_path(session[:dininghall_id]) %>
