<h2 class="header">Edit Dining Hall </h2>

<%= form_with model: @dininghall, method: :put, local: true do |dininghall_form|%>
    <%= render 'form_template', dininghall_form: dininghall_form%>

    <br>
    <%= dininghall_form.submit "Update Dininghall" %>
<% end %>
<br>
<%= link_to "Back", dininghall_path(@dininghall), :class=>"back" %>