
<div><h1 class="header" >Dining Halls</h1></div>

<body class="body">
<table class='table'>
    <thead>
        <tr>
            <th>Name</th>
            <th>Hours</th>
            <th>Menu</th>
        </tr>
    </thead>
    <tbody>
        <%@dininghalls.each do |dh|%>
        <tr>
            <td> <%= link_to "#{dh.name}", dininghall_path(dh.id)%> </td>
            <td> <%= dh.hours%> </td>
            <td> <%= link_to "View Menus", menus_path(:dh_id => dh.id)%> </td>
        </tr>
        <%end%>
    </tbody>
</table>
<% if user_signed_in? && current_user.admin %>
    <%= link_to "New Dining Hall", new_dininghall_path%>
<% end %>
</body>
