<h1 class="header">New Dining Hall </h1>

<%= form_with model: @dininghall, local: true do |dininghall_form| %>
<br> 

    <%= render 'form_template', dininghall_form: dininghall_form%>
    <br>
    <%= dininghall_form.submit "Create Dining Hall"%>
<% end %>
<br>
<%= link_to "Back", dininghalls_path, :class=>"back" %>