<h1> <%= @dininghall.name %> </h1>
<h2> Hours of Operation: <%= @dininghall.hours %> </h2>
<dd> Breakfast hours: <%= @dininghall.breakfast_hours %> </dd>

<br>
<% if user_signed_in? && current_user.admin %>
<%= link_to "Update Dininghall", edit_dininghall_path(@dininghall)%>
<% end %>